* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Corpo da Página*/
body {
  width: 100%;
  height: 100%;
}

.img-app{
  width: 600px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 8px;  
}

/*Raiz de Variáveis*/
:root {
  --corDoCorpo: #0f1821;
  --corPrimaria: #2f2d2ec0;
  --corSecundaria: #;
  --corTerciaria: #;
  --corQuartenaria: #;
  --sombraPadrao: ;
}

/*Cabeçalho Bootstrap*/
.navbar {
  display: inline-block;
  /* border-radius: 10px; */
  /* margin: 2.5px; */
  padding: 15px;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/*Logo do Nid2*/

.logonid2 {
  padding: 0.25em;
  width: 100px;
}

.logonid2{
	width: 100px;
}

.logompc2 {
	margin-left: 15px;
	width: 100px;

}

/*Titulo e Texto da Pagina*/
.banner {
  display: flex;
  justify-content: center;
}

.banner img {
  width: 100%;
}

.title-cursos {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.lead {
  margin-top: 25px;
}

/*Cabeçalho Sidebar*/
.offcanvas-header {
  border-radius: 10px;
  margin: 5px;
}

/*Caixa de Cursos Oferecidos*/
.container {
  height: 100%;
  border-radius: 10px;
  margin-bottom: 5%;
}

/*Cartões de Cursos*/
.row {
  text-align: center;
  padding-bottom: 20px;
}

/*Cor de fundo dos cartões de cursos oferecidos*/
.card:hover {
  transform: scale(1.10);
  transition: .5s;
}

/*Logo do Nid dentro dos Cartões*/
.me-auto {
  margin-left: 10px;
}

/*Informações sobre o Movimento pro Criança*/
.container-featurettes {
  padding: 1.5%;
}

.fw-normal {
  margin-top: 20%;
}

/*Formulario do Psicosocial*/
form {
  display: flex;
  justify-content: center;
  padding: 1.5%;
}

.psico-form {
  padding: 1.5%;
  border-radius: 10px;
}

/*Titulo do Forumlário*/
.form-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 5%;
}

/*Controle do Formulário*/
.form-control {
  width: 0%;
  margin-bottom: 1%;
}

/*Caixa do Botao do Forumlário*/
.btn-div {
  display: flex;
  justify-content: center;
}

/*Botao do Formulario*/
.bt {
  padding: 1.25%;
  border-radius: 10px;
  transition: 0.5s;
  border: none;
}

.bt:hover {
  background-color: purple;
  color: aliceblue;
}

.pt-cb {
  text-align: center;
  padding: 2.5%;
}

/*Logo do Raymundo da fonte*/
.img-footer-rdf {
  width: 25%;
  height: 10%;
  margin-right: 5%;
}

/*Logo Divina Pharma da fonte*/
.img-footer-dp {
  width: 10%;
  height: 10%;
  margin-right: 5%;
}

/*Logo MPC*/
.img-footer-mpc {
  width: 12%;
  height: 10%;
  margin-right: 5%;
}

/*Logo Nid*/
.img-footer-nid {
  width: 15%;
  height: 10%;
  margin-right: 5%;
}

/* Adicionando filtro cinza nas logos do rodapé e colocando uma transição de 0.7seg */
.img-footer-dp,
.img-footer-mpc,
.img-footer-nid,
.img-footer-rdf {
  filter: grayscale(100%);
  transition: 0.7s;
}

/* Retirando o filtro cinza quando o mouse passar por cima e aproximando as logos */
.img-footer-dp:hover,
.img-footer-mpc:hover,
.img-footer-nid:hover,
.img-footer-rdf:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

/*Descrição sobre voce*/
.descricao {
  margin-top: 1%;
}

/*Aviso de matricula*/
.war-desc {
  display: flex;
  margin-top: 4%;
  color: gray;
}

footer p {
  display: flex;
  justify-content: center;
  min-width: 100%;
  margin-top: 20px;
}

/* .wh-fd-mpc{
	border: 1px solid red;
} */

/*iframe do MPC*/
iframe {
  /* box-shadow: 0px 0px 5px 1px #8a8a8a; */
  margin-top: 5%;
  border-radius: 10px;
  border: outset 1px solid gray;
  width: 550px;
  height: 450px;
}

/*Responsividad de Mapa Iframe*/
@media screen and (max-width: 1320px) {
  .wh-fd-mpc {
    margin-left: 0%;
    margin-top: 3%;
  }

  iframe {
    width: 500px;
    height: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .wh-fd-mpc {
    margin-left: 5%;
    margin-top: 3%;
  }

  iframe {
    width: 480px;
    height: 400px;
  }
}

@media screen and (max-width: 1084px) {
  .wh-fd-mpc {
    margin-left: 5%;
    margin-top: 3%;
  }

  iframe {
    width: 450px;
    height: 380px;
  }
}

@media screen and (max-width: 1020px) {
  .wh-fd-mpc {
    margin-left: 6%;
    margin-top: 3%;
  }

  iframe {
    width: 420px;
    height: 380px;
  }
}

@media screen and (max-width: 930px) {
  .wh-fd-mpc {
    margin-left: 6%;
    margin-top: 3%;
  }

  iframe {
    width: 400px;
    height: 360px;
  }
}

@media screen and (max-width: 890px) {
  .wh-fd-mpc {
    margin-left: 6%;
    margin-top: 3%;
  }

  iframe {
    width: 370px;
    height: 360px;
  }
}

@media screen and (max-width: 890px) {
  .wh-fd-mpc {
    margin-left: 0 auto;
    margin-top: 3%;
  }

  iframe {
    width: 350px;
    height: 360px;
  }
}

@media screen and (max-width: 770px) {
  .wh-fd-mpc {
    margin-left: 0;
    margin-top: 3%;
  }

  iframe {
    width: 500px;
    height: 400px;
  }
}
