* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Corpo da Página*/
body {
	width: 100%;
	height: 100%;
}

/*Raiz de Variáveis*/
:root {
	--corDoCorpo: #0f1821;
	--corPrimaria: #2f2d2ec0;
	--corSecundaria: #;
	--corTerciaria: #;
	--corQuartenaria: #;
	--sombraPadrao: ;
}

/*Cabeçalho Bootstrap*/
.navbar {
	display: inline-block;
	border-radius: 10px;
	margin: 5px;
	padding: 15px;
}

/*Titulo e Texto da Pagina*/
.mainTitleTex {
	padding: 5%;
}

/*Botão Cabeçalho*/
.navbar-toggler {
}

/*Cabeçalho Sidebar*/
.offcanvas-header {
	border-radius: 10px;
	margin: 5px;
}

/*Caixa de Cursos Oferecidos*/
.container {
	height: 100%;
	border-radius: 10px;
	margin-bottom: 5%;
}

/*Cartões de Cursos*/
.row {
	text-align: center;
}

/*Logo do Nid dentro dos Cartões*/
.me-auto {
	margin-left: 10px;
}

/*Informações sobre o Movimento pro Criança*/
.container-featurettes {
	padding: 1.5%;
}

/*Formulario do Psicosocial*/
form {
	display: flex;
	justify-content: center;
	padding: 1.5%;
}

.psico-form {
	padding: 1.5%;
	border-radius: 10px;
}

/*Titulo do Forumlário*/
.form-title {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin-bottom: 5%;
}

/*Controle do Formulário*/
.form-control {
	width: 0%;
	margin-bottom: 1%;
}

/*Caixa do Botao do Forumlário*/
.btn-div {
	display: flex;
	justify-content: center;
}

/*Botao do Formulario*/
.bt {
	padding: 1.25%;
	border-radius: 10px;
	transition: 0.5s;
	border: none;
}

.bt:hover {
	background-color: purple;
	color: aliceblue;
}

.pt-cb {
	text-align: center;
	padding: 2.5%;
}

/*Logo do Raymundo da fonte*/
.img-footer-rdf {
	width: 25%;
	height: 10%;
	margin-right: 5%;
}

/*Logo raymundo da fonte*/
.img-footer-dp {
	width: 10%;
	height: 10%;
	margin-right: 5%;
}

/*Logo MPC*/
.img-footer-mpc {
	width: 12%;
	height: 10%;
	margin-right: 5%;
}

/*Logo Nid*/
.img-footer-nid {
	width: 15%;
	height: 10%;
	margin-right: 5%;
}

/*iframe do MPC*/
iframe {
	/* box-shadow: 0px 0px 5px 1px #8a8a8a; */
	margin-top: 5%;
	border-radius: 10px;
	border: outset 1px solid gray;
}

/*Descrição sobre voce*/
.descricao{
	margin-top: 1%;
}

/*Aviso de matricula*/
.war-desc{
	display: flex;
	margin-top: 4%;
	color: gray;
}